@model IEnumerable<object>

@{
    List<RealState2.Models.User> MUser = Model.ToList()[0] as List<RealState2.Models.User>;
    List<RealState2.Models.Project> MProject = Model.ToList()[1] as List<RealState2.Models.Project>;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout_je.cshtml";
}


    <tr>
        <td class="row3_col1_about_project">
            <h4>Project Request</h4>
            <table class="table">
                <tr>
                    <th>
                        <h5>CustomerName</h5>
                    </th>
                    <th>
                        <h5>PM Name</h5>
                    </th>
                    <th>
                        <h5>Name</h5>
                    </th>
                    <th>
                        <h5>Description</h5>
                    </th>
                    <th>
                        <h5>Price</h5>
                    </th>
                    <th>
                        <h5>Date</h5>
                    </th>
                    <th>
                        <h5>Comment</h5>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in MProject)
            {
                if (item.JEName == Session["UserName"].ToString() && item.JEAccept == false && item.Approval == true && item.PMAccept == true && item.Delivered == false && item.Assign == true)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PMName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                            <td>
                                @Html.ActionLink("Accept or Reject", "AcceptOrReject", new { id = item.ID })
                            </td>
                        </tr>
                    }
                }

            </table>
            <br />
            <h4>Current Project and Not Delivered Yet</h4>
            <table class="table">
                <tr>
                    <th>
                        <h5>Customer Name</h5>
                    </th>
                    <th>
                        <h5>PM Name</h5>
                    </th>
                    <th>
                        <h5>Name</h5>
                    </th>
                    <th>
                        <h5>Description</h5>
                    </th>
                    <th>
                        <h5>Date</h5>
                    </th>
                    <th>
                        <h5>TL Name</h5>
                    </th>
                    <th>
                        <h5>Price</h5>
                    </th>
                    <th>
                        <h5>Comment</h5>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in MProject)
            {
                if (item.JEName == Session["UserName"].ToString() && item.JEAccept == true && item.Approval == true && item.PMAccept == true && item.Delivered == false && item.Assign == true)
                {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PMName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TLName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                            <td>
                                @Html.ActionLink("Leave Team", "EditTeam", new { id = item.ID })
                            </td>
                        </tr>
                    }
                }

            </table>
            <br />
            <h4>History Project and Delivered</h4>
            <table class="table">
                <tr>
                    <th>
                        <h5>CustomerName</h5>
                    </th>
                    <th>
                        <h5>Name</h5>
                    </th>
                    <th>
                        <h5>Description</h5>
                    </th>
                    <th>
                        <h5>Date</h5>
                    </th>
                    <th>
                        <h5>Comment</h5>
                    </th>
                    <th>
                        <h5>Price</h5>
                    </th>
                </tr>

                @foreach (var item in MProject)
            {
                if (item.JEName == Session["UserName"].ToString() && item.JEAccept == true && item.Delivered == true && item.PMAccept == true && item.TLAccept == true && item.Assign == true)
                {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                        </tr>
                    }
                }

            </table>
            <br />
        </td>

        <td class="row3_col2">
            <center>
                <div class="actor_info">
                    <img src="~/img/1494361103_user.png">
                    <p>
                        <h2>
                            @if (Session["ID"] != null)
            {@Session["UserName"]<br /> @Session["FirstName"] <br />@Session["LastName"] <br /> @Session["Email"] <br />
                    @Session["Mobile"]<br />@Session["JobDescription"] }
                        </h2>
                    </p>
                    <br /><img src='@Url.Action("PieCart", "JE")' alt="Chart" />
                </div>

            </center>
        </td>

    </tr>
